<h1>Song:</h1>
<h2>Title</h2>
<%= @song.title %>
<h2>Released?</h2>
<%= @song.released %>

  <h2>Release Year:</h2>
  <%= @song.release_year %>

<h2>Artist:</h2>
<%= @song.artist_name %>
<h2>Genre:</h2>
<%= @song.genre %>
